.App {
	text-align: center;
	display: flex;
	background: linear-gradient(to right, #00aaff, #00ff6c);
	min-height: 100vh;
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}
input::placeholder {
	/* Chrome, Firefox, Opera, Safari 10.1+ */
	color: red;
	opacity: 1; /* Firefox */
}
#App-container {
	font-size: 12px;
}
