input:focus,
input:active {
	box-shadow: none !important;
}

input[type="file"]::file-selector-button {
	border: none;
	padding: 0.45em;
	font-weight: 600;
	color: rgba(3, 66, 62, 0.9);
	background-color: #b3d6d4;
	border-radius: 0px !important;
	/* background: "linear-gradient(180deg, #FFFFFF 0%, #669592 100%)"; */
	border: none;
}
