#App-container {
	background: linear-gradient(
		90deg,
		#032826 0%,
		rgba(178, 227, 206, 0.951094) 100%,
		rgba(2, 255, 240, 0.13) 100%
	);
}
#banner {
	background: linear-gradient(180deg, #669592 0%, #8b8b8b 100%);
	border-radius: 40px;
}

#get-started-btn {
	background: linear-gradient(180deg, #ffffff 0%, #669592 100%);
}

input:focus,
input:active {
	box-shadow: none !important;
}

input[type="file"]::file-selector-button {
	border: none;
	padding: 0.45em;
	font-weight: 600;
	color: rgba(3, 66, 62, 0.9);
	background-color: #b3d6d4;
	border-radius: 0px !important;
	border: none;
}

#input-btn {
	background: linear-gradient(180deg, #ffffff 0%, #669592 100%);
	border-radius: 10px;
	color: rgba(3, 66, 62, 0.9);
	font-weight: 600;
	border: none;
	text-align: start;
}
